# Ignore Gradle project-specific cache directory
.gradle
bin/

# Ignore IDE-specific files
.vscode

# Ignore GitHub configuration directory
.github

# Ignore Gradle build output directory
build

# Operating System specific
.DS_Store